<ion-view view-title="Modificar contraseña">
<ion-nav-buttons side="right">
   <!-- Toggle right side menu -->
   <button menu-toggle="right" class="button button-icon icon ion-android-done" ng-click="aceptarModificarPassword()"></button>
  </ion-nav-buttons>
    <ion-content>
        
            
                <!--    <a class="item item-icon-left" href="#">
                        <i class="icon ion-key"></i>
                        Información
                    </a>
                <ion-item>
            <p> Su nueva contraseña debe cumplir con los siguientes requisitos :</p>
                    <p>1 - Debe contener aunque sea 1 letra</p>
                    <p>2 - Debe contener aunque sea 1 número</p>
                    <p>3 - Debe tener una longitud mayor de 6</p>
                    </ion-item>
             
        <br>-->
        <div class="list">
          <label class="item item-input item-floating-label">
            <span class="input-label">Contraseña actual</span>
            <input type="password" id="formData.passwordactual" ng-model="formData.passwordactual" placeholder="Contraseña actual">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Contraseña nueva</span>
            <input type="password" id="formData.password" ng-model="formData.password" placeholder="Contraseña nueva">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Contraseña nueva</span>
            <input type="password" id="formData.passwordConfirmacion" ng-model="formData.passwordConfirmacion"placeholder="Repetir contraseña actual">
          </label>
        </div>
    </ion-content>
</ion-view>